<%- include("templates/header") %>

<!-- Top three user display -->
<div id="topThree">
    <% if (topThree[1]) { %>
    <div class="topUser" id="second"> <!-- left bar -->
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span><%= topThree[1].firstName %> <%= topThree[1].lastName %></span>
        <div class="square">
            <span>2</span>
        </div>
    </div>
    <% } %>
    
    <% if (topThree[0]) { %>
    <div class="topUser" id="first"> <!-- middle bar -->
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span><%= topThree[0].firstName %> <%= topThree[0].lastName %></span>
        <div class="square">
            <span>1</span>
        </div>
    </div>
    <% } %>

    <% if (topThree[2]) { %>
    <div class="topUser" id="third"> <!-- right bar -->
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span><%= topThree[2].firstName %> <%= topThree[2].lastName %></span>
        <div class="square">
            <span>3</span>
        </div>
    </div>
    <% } %>
</div>

<!-- Logged in user information under top three -->

<div class="userInfo">
    <% if (currentUser) { %>
    <div class="userCols">
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span><%= currentUser.firstName %> <%= currentUser.lastName %></span>
    </div>

    <div class="userCols">
        <span><strong>Points</strong></span>
        <span><%= currentUser.points %></span>
    </div>

    <div class="userCols">
        <span><strong>Position</strong></span>
        <span><%= currentPosition %></span>
    </div>
    <% } else { %>
    <p>No logged in user info available.</p>
<% } %>
</div>

<!-- Other users -->
<div id="otherUsers">
    <% users.forEach(function(user, index) { %>
    <div class="square">
        <span id="otherUserInfo">
            <%= index + 4 %>
            <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
            <span><%= user.firstName %> <%= user.lastName %></span>
        </span>

        <span><%= user.points %></span>
    </div>
    <% }); %>
</div>

<script src="/scripts/leaderboard.js"></script>

<%- include("templates/navbar") %>