<%- include("templates/header") %>

<!-- Top Navbar -->
<div class="top-navbar">
  <button class="nav-btn active">Account</button>
  <button class="nav-btn" onclick="location.href='/money'">Financials</button>
  <button class="nav-btn" onclick="location.href='/usersettings'">Settings</button>
</div>

<!-- User Profile Box -->
<div class="profile-box">
  <div class="avatar-container">
  <img
    class="user-avatar"
    src="<%= user.profilePictureUrl || '/images/default-avatar.png' %>"
    alt="<%= user.firstName %> Avatar"
  >
  <button type="button" class="edit-btn" onclick="location.href='/usersettings'" title="Edit Profile">
    <img src="/images/icons/edit.svg" class="edit-icon" />
  </button>
</div>


  <div class="profile-details">
    <p class="username">@<%= user.email.split('@')[0] %></p>
    <p class="realname"><%= user.firstName %> <%= user.lastName %></p>
    <p class="email"><%= user.email %></p>
    <button class="edit-bio-btn">Edit Bio</button>
  </div>
</div>

<!-- Stats Box -->
<div class="stats-box">
  <div class="column">
    <p class="label">Date Joined:</p>
    <p class="label">Total Points:</p>
    <p class="label">Bets Participated:</p>
    <p class="label">Groups Joined:</p>
    <p class="label">Groups Created:</p>
  </div>
  <div class="column">
    <p class="value">
      <%= new Date(user.dateJoined).toLocaleDateString() %>
    </p>
    <p class="value"><%= user.points %></p>
    <p class="value"><%= user.participatedBets.length %></p>
    <p class="value"><%= user.joinedGroups.length %></p>
    <p class="value"><%= user.createdGroups.length %></p>
  </div>
</div>

<!-- Bets and Bets Created -->
<div class="bets-section">
  <div class="bets-box">
    <p>Bets Joined:</p>
    <% if (user.participatedBets.length) { %>
      <% user.participatedBets.forEach(b => { %>
        <div class="inner-bet-box">
          <a href="/bets/<%= b._id %>" class="bet-link">
            <%= b.betTitle %>
          </a>
        </div>
      <% }) %>
    <% } else { %>
      <div class="inner-bet-box">None yet</div>
    <% } %>
  </div>

  <div class="bets-box">
    <p>Bets Created:</p>
    <% if (user.createdGroups.length) { %>
      <% user.createdGroups.forEach(b => { %>
        <div class="inner-bet-created-box">
          <a href="/bets/<%= b._id %>" class="bet-link">
            <%= b.betTitle %>
          </a>
        </div>
      <% }) %>
    <% } else { %>
      <div class="inner-bet-created-box">None yet</div>
    <% } %>
  </div>
</div>

<%- include("templates/navbar") %>
