<link rel="stylesheet" href="/styles/navbar.css">

<div class="bottom-navbar">
    <% navLinks.forEach(link=> {
        const iconFile = link.name.toLowerCase().replace(/\s+/g, '') + '.svg';
        const isActive = (link.link === activeLink) ? "active" : "";
        const extraClass = (link.name === "Create Bet") ? "create-btn" : "";
        %>
        <a href="<%= link.link %>" class="nav-icon <%= extraClass %> <%= isActive %>">
            <img src="/images/icons/<%= iconFile %>" alt="<%= link.name %>" />
        </a>
        <% }); %>
</div>